.container {
    display: flex;
    min-width: 120px;

}

.progressBar {
    width: 90%;
    height: 8px;
    background-color: #e7e7e72c;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px auto;
}

.progress {
    height: 100%;
    background-color: #27e6adea;
    transition: width 0.7s ease-in-out;
    border-radius: 15px;
}